* {
    box-sizing: border-box;
}

body {
    background-image: url("pobrane.jpeg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

h1 {
    color: #ffffff;
    background-color: #9C1A1C;
    padding: 10px 2px;
    border: 2px solid black;
    margin: 15px 25px;
}

.addbtn {
    position: absolute;
    right: 0;
    display: inline-block;
    border-radius: 4px;
    background-color: #9C1A1C;
    border: none;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 30px;
}

.addbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.addbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.addbtn:hover span {
  padding-right: 25px;
}

.addbtn:hover span:after {
  opacity: 1;
  right: 0;
}

.a a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

.a li {
    margin-top: 30px;
    text-align: center;
}

#la_question {
    font-weight: bold;
    width: 1100px;
    height: 70px;
    position: relative;
    text-align: center;
    left: 350px;
    /*width: 80%;*/
}

#add_answer_button {
    position: absolute;
    left: 50px;
}

#answers {
    width: 1100px;
    height: 50px;
    position: relative;
    text-align: center;
    left: 350px;
}

#main_paige_butt {
    position: absolute;
    right: 50px;
}

#send_button {
    position: absolute;
    left: 0;
}

#title{
    text-align: center;
}

#icons{
    text-decoration: none;
}