{% extends "layout.html" %}
{% block title %}New Question{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

  <h1>Add new question</h1>
  <form action="question" method="POST">
    <label for="title">Question Title</label>
    <input id="title" name="title" type="text" required placeholder="State topic of your question" size="25">
    <br>
    <label for="question">Question</label>
    <br>
    <textarea id="question" name="question" rows="15" cols="100" placeholder="Your question here" required></textarea>
    <br>
    <input type="submit" value="Send">
    <br>
    <input id="image" name="image" type="text" required placeholder="To jest image" size="10">
  </form>
  <br>
  <a href="/"><button type="button">Main Page</button></a>
{% endblock %}

