{% extends "layout.html" %}
{% block title %}New Question{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

  <h1 id="title">ASK MATE V2</h1>
<h2>Add question</h2>
<a href="/"><button type="button" class="addbtn"><span>Main Page</span></button></a>
  <form action="question" method="POST">
    <label for="title">Question Title</label>
    <input id="title" name="title" type="text" required placeholder="State topic of your question" size="25">
    <br>
    <label for="question">Question</label>
    <br>
    <textarea id="question" name="question" rows="15" cols="100" placeholder="Your question here" required></textarea>
    <br>
      <button type="submit" class="addbtn" id="send_button"><span>Send</span></button>
    <br>
    <!input id="image" name="image" type="text" required placeholder="To jest image" size="10">
  </form>
  <br>
{% endblock %}

