<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Question</title>
</head>
<body>
  <h1>Add new question</h1>
  <label for="title">Title of Question</label>
  <input id="title" name="title" type="text" required placeholder="State topic of your question" size="15">
  <br>
  <label for="question">Question</label>
  <br>
  <textarea id="question" name="question" rows="10" cols="40" placeholder="Your question here" required></textarea>
  <br>
  <input type="submit" value="Send" style="float: right">
</body>
</html>