{% extends "layout.html" %}
{% block title %}Answer{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

 <h1 id="title">ASK MATE V2</h1>
<h2>Add answer</h2>
<a href="/"><button type="button" class="addbtn"><span>Main Page</span></button></a>
  <form action="/submit_answer/{{id}}" method="POST">
    <label for="new_answer"></label>
    <br>
    <textarea id="new_answer" name="new_answer" rows="15" cols="100" placeholder="Your answer here" required></textarea>
    <br>
    <!input id="image" name="image" type="text" required placeholder="To jest image" size="10">
    <br>
      <button type="submit" class="addbtn" id="send_button"><span>Send</span></button>
  </form>
  <br>

{% endblock %}
