{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<h2>LOGIN</h2>
<form action="/login" method="post">
  <label for="username">User Name:</label>
  <input id="username" name="logusrname" type="text" required minlength="3" maxlength="10" />
    <br>
  <label for="password">Password:</label>
  <input id="password" name="logpswrd" type="password" required minlength="3" maxlength="10" />
    <br>
  <button type="submit">Log In</button>
</form>
<h3>You don't have account? <a href="/registration">Register here</a></h3>
<a href="/"><button type="button">Main Page</button></a>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% endblock %}