<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate</title>
</head>
<body>
    <h1>
        ASK MATE V1
    </h1>
    <form action="/add_question">
        <input type="submit" value="Add new question">
    </form>
    <ul>
    {% for question in user_questions %}
        <!--<li><a href="/question/<id>">{{ question['id'] }} {{ question['title'] }}</a></li>-->
        <li>{{ question['id'] }}<a href="{{ url_for('route_spec_question', id=question['id']) }}">{{ question['title'] }}</a></li>
    {% else %}
        <p>No posts yet</p>
    {% endfor %}
    </ul>
</body>
</html>