{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <h1>ASK MATE V1 <i class="fas fa-cloud"></i></h1>
<!--<select name="order_by" form="sort-question-form">-->
    <!--<option value="title">Title</option>-->
    <!--<option value="submission_time">Time</option>-->
    <!--<option selected value="id">ID</option>-->
    <!--<option value="view_number">View Number</option>-->
    <!--<option value="vote_number">View Number</option>-->
    <!--<option value="message">Message</option>-->

<!--</select>-->
<!--<select name="order_direction" form="sort-question-form">-->
    <!--<option selected value="asc" >Ascending Order</option>-->
    <!--<option value="desc">Descending Order</option>-->
<!--</select>-->


<!--<input type="submit" value="Sort" form="sort-question-form">-->

<form action="/list" id="sort-question-form" method="GET"></form>
    <h2><form action="/add_question">
        <button type="submit" class="addbtn"><span>Add new question</span></button>
    </form>
    </h2>
    <h3><ol class="a">
    {% for question in user_questions %}
        <li>

            <a href="{{ url_for('route_spec_question', question_id=question['id']) }}">{{ question['title'] }}</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <a href="/delete-question/{{ question['id'] }}"/>
                <img src="https://cdn.pixabay.com/photo/2012/04/01/17/31/trash-can-23653__340.png" width="16" height="16" border="0">
            </a>


        </li>

        <br>
    {% else %}
        <p>No posts yet</p>
    {% endfor %}
    </ol>
    </h3>
{% endblock %}


