{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>ASK MATE V1</h1>
    <a href="/add_question">Add question</a>

    &nbsp;
    <select name="order_by" form="sort-question-form">
            <option selected value="title">Title</option>
            <option value="submission_time">Time</option>
    </select>
    &nbsp;
    <select name="order_direction" form="sort-question-form">
            <option selected value="asc" >Ascending Order</option>
            <option value="desc">Descending Order</option>
    </select>


    <input type="submit" value="Sort" form="sort-question-form">

    <form action="/list" id="sort-question-form" method="GET"></form>



    <ul>
    {% for question in user_questions %}
        <li>{{ question['id'] }}<a href="{{ url_for('route_spec_question', id=question['id']) }}">{{ question['title'] }}</a></li>
    {% else %}
        <p>No posts yet</p>
    {% endfor %}
    </ul>
{% endblock %}
