<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Page</title>
</head>
<body>
  <h1>{{ quest['title'] }}</h1>
  <form>
    <textarea rows="6" cols="60" disabled>{{ quest['message'] }}</textarea>
    <footer>seen by: {{ quest['view_number'] }} upvoted: {{ quest['vote_number'] }} </footer>
  </form>
  <form>
    {% for answer in answers %}
      <p>{{ answer['message'] }}</p>
      <footer>upvoted: {{ answer['vote_number'] }} </footer>
    {% endfor %}
  </form>
</body>
</html>