{% extends "layout.html" %}
{% block title %}Question Page{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

<h1 id="title">ASK MATE V2 <i class="fas fa-cloud"></i></h1>
{% if session['username'] %}
        <h4>Hi {{session['username']}}!</h4>
{% else %}
        <h4>You're not logged in</h4>
{% endif %}
<a href="/"><button type="button" class="addbtn"><span>Main Page</span></button></a>
  <h2 id="la_question"> {{ question['title'] }}</h2>
  <form action="url_for('question', question_id = question['id'])" method="Post">
    <h3 id="la_question">{{ question['message'] }}</h3>
    <footer id="la_question">seen by: {{ question['view_number'] }} upvoted: {{ question['vote_number'] }} </footer>
  </form>
  <br>
<a href="/add_answer/{{question['id']}}"><button type="button" class="addbtn" id="add_answer_button"><span>Add answer</span></button></a>

  <form>
    <h2 id="answers">Answers:</h2>
    {% for answer in answers %}
      <p id="answers">{{ answer['message'] }}
        <a href="/question/{{answer['question_id']}}/delete/{{answer['id']}}">

          <img src="https://cdn.pixabay.com/photo/2012/04/01/17/31/trash-can-23653__340.png" alt="Delete" width="24" height="24" border="0">
        </a>
          <br>
        <a href="/question/{{answer['question_id']}}/upvote/{{answer['id']}}">

          <img id="icons" src="https://cdn0.iconfinder.com/data/icons/faces-3/24/34-512.png" alt="Upvote" width="24" height="24" border="0">

        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/question/{{answer['question_id']}}/downvote/{{answer['id']}}">

          <img src="https://cdn0.iconfinder.com/data/icons/faces-3/24/35-512.png" alt="Downvote" width="24" height="24" border="0">
        </a>
      </p>
      <footer id="answers">upvoted: {{ answer['vote_number'] }} </footer>
    {% endfor %}
  </form>
  <br>

{% endblock %}

