{% extends "layout.html" %}
{% block title %}Question Page{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

  <h1>{{ question['title'] }}</h1>
  <form action="url_for('question', question_id = question['id'])" method="Post">
    <h4 id="la_question">{{ question['message'] }}</h4>
    <footer>seen by: {{ question['view_number'] }} upvoted: {{ question['vote_number'] }} </footer>
  </form>
  <br>
  <a href="/add_answer/{{question['id']}}"><button type="button">Add answer</button></a>
  <a href="/delete_question"><button type="button">Delete question</button></a>

  <form>
    <h2>Answers:</h2>
    {% for answer in answers %}
      <p>{{ answer['message'] }}</p>
      <footer>upvoted: {{ answer['vote_number'] }} </footer>
    {% endfor %}
  </form>
  <br>
  <a href="/"><button type="button">Main Page</button></a>

{% endblock %}

