{% extends "layout.html" %}
{% block title %}Registration{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<h2>Registration</h2>
<form action="/register" method="post">
  <label for="username">User Name:</label>
  <input id="username" name="regusrname" type="text" required minlength="3" maxlength="10" />
    <br>
  <label for="password">Password:</label>
  <input id="password" name="regpswrd" type="password" required minlength="3" maxlength="10" />
    <br>
  <button type="submit">Send</button>
</form>
<a href="/"><button type="button">Main Page</button></a>

{% endblock %}